<div class="mx-auto max-w-xl">
  <div class="rounded overflow-hidden shadow-lg p-4 my-6 border border-slate-200">

    <h1 class="mb-4 text-xl font-semibold text-center">
      Login to {{app.host}}
    </h1>
    <h1 class="my-4">
      <span class="font-semibold">{{app.host}}</span>
      is requesting permission to create an
      account in their system, using your
      <span class="font-semibold">{{host}}</span>
      account.
    </h1>
    <h1 class="my-4">
      Would you like to login to
      <span class="font-semibold">{{app.host}}</span>
      with your
      <span class="font-semibold">
        {{usernameToEmail user.username}}
      </span>
      account?
    </h1>
    <div class="my-6">
      <form action="/login/to" method="POST">
        {{!-- TODO ensure no cross-domain posts with a CSRF variable --}}
        {{!-- <input type="hidden" name="host" value="{{app.host}}"/> --}}
        <input type="hidden" name="host" value="{{app.host}}"/>
        <input type="hidden" name="returnTo" value="{{app.returnTo}}"/>



        <div class="my-4">
          <label class="text-gray-700 text-sm font-bold mb-2" for="expires-input">
            Expires in:
          </label>
          <input
            class="shadow appearance-none border rounded mr-2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            style="max-width: 5rem;"
            type="number" name="duration" value="1" id="expires-input"
          />
          <select
            class="bg-transparent shadow border rounded mr-2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            {{!-- class="peer rounded border border-blue-gray-200 bg-transparent px-3 py-2.5 font-sans text-sm
            font-normal text-blue-gray-700 transition-all
            placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200
            focus:border-2 focus:border-pink-500 focus:border-t-transparent
            disabled:border-0 disabled:bg-blue-gray-50" --}}
            name="durationUnit" value="m"
          >
            <option value="h">Hours</option>
            <option value="d">Days</option>
            <option value="m">Months</option>
            <option value="y">Years</option>
          </select>
        </div>

        <div class="flex items-stretch justify-evenly">
          <button
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            name="accept"
            value="0"
          >Reject</button>

          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            name="accept"
            value="1"
          >Accept</button>
        </div>
      </form>
    </div>
    <hr/>
    <div class="mt-2 text-sm text-center">
      Clicking Accept or Reject will take you back to {{app.returnTo}}
    </div>


  </div>
</div>