<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="description" content="DID Auth POC" />
    <title>DID Auth POC</title>
    <style>
      body{
        background: radial-gradient(circle at left bottom, {{app.colorLight}}, {{app.colorDark}}),
                    radial-gradient(circle at right bottom, {{app.colorLight}}, {{app.colorDark}});
      }
    </style>
  </head>
  <body class="font-sans min-h-screen">
    <div class="min-h-screen flex flex-col">
      {{> topnav }}
      <main class="mx-auto max-w-5xl min-w-5xl" style="width: 64rem;">
        {{{body}}}
      </main>
      <footer class="mt-auto justify-self-center p-4">
        Written by Jared Grippe | ©2023 Jlinc Labs | <a href="/debug">debug</a>
      </footer>
    </div>
  </body>
</html>
